<h1>Accesses for <%= 
if not @link.title.nil?
    @link.title 
else 
    @link.url 
end  %></h1>

<% if not @link.type.nil?%>
    <h2 class="me-5 mb-3">Type: <%= @link.type%></h2>
<% else %>
    <h2 class="me-5 mb-3">Normal link</h2>
<% end %>

<% if @link.type == "TempLink"%>
    <h3 class="me-5 mb-3">Expiration date: <%= @link.expiration_date %></h3>
<% elsif @link.type == "OneTLink"%>
    <% if @link.accesses.all.length > 0 %>
    <h3 class="me-5 mb-3">This link has been used alredy and is no longer available</h3>
    <% end %>
<% end %>

<h3 class="me-5 mb-3">URL: <br><%= @link.url %></h3>
